# Local vscode settings
.vscode/**

# Envrc settings
**/.envrc
**/.env

# Terraform stuff
**/.terraform
**/.terraform.lock.hcl

# Tfvars which usually contain secrets
*.tfvars
*.tfvars.json

# .tfstate files
*.tfstate
*.tfstate.*

# Terrafrom crash log files
crash.log
crash.*.log

# Packer stuff
credentials.pkr.hcl
**/*.auto.pkrvars.hcl
packer-*.log
packer_cache/
*.iso
*.box
*.ova
